<div class="container sm max-w-[200px] rounded-md bg-gray-100 p-1">
  <div class="flex justify-between items-center">
  <div>Title </div>
    <div class="flex m-1">
      <div class="font-bold actionButton">  </div>
    </div>
  </div>
  <div> Add a Task</div>

</div>