<div class="flex gap-3 items-start justify-center">
  {{#each this.filteredSections as |section|}}
    <MainPage::Section @section={{section}} />
  {{/each}}
  <MainPage::SectionAdder @sections={{@sections}}/>
</div>
