<div class="bg-white rounded hover:border-blue-500 hover:cursor-pointer border-solid hover:border-2">
    <MainPage::TaskProgress />
    <div>
      This is the description of the Task
    </div>
</div>