<div class="bg-white rounded hover:border-blue-500 hover:cursor-pointer border-solid hover:border-2 mt-2">
  <div {{on "click" this.handleOpenModal}}>
    <MainPage::TaskProgress @progressState={{this.state}}/>
    <div>
      {{this.title}}
    </div>
  </div>
</div>